<form action="/data" method = "POST">
    <p>Category <input type = "text" name = "Category" /></p>
    <p>Goal <input type = "number" name = "Goal($USD)" /></p>
    <p>Campaign Start Date <input type = "date" name = "Campaign Start Date" /></p>
    <p>Campaign End Date <input type = "date" name = "Campaign End Date" /></p>
    <p>Country <input type = "text" name = "Country" /></p>
    <p>Initial Contribution <input type = "number" name = "Initial Contribution($USD)"</p>
    <p><input type = "submit" value = "Submit" /></p>
</form>